p[data-astro-cid-zetdm5md] {
  font-size: calc(var(--site-ui-font-size) * 1);
  padding-inline: calc(var(--site-ui-font-size) * 1);
  text-align: center;
  letter-spacing: calc(var(--site-ui-font-size) * 0.5);
  text-indent: calc(var(--site-ui-font-size) * 0.5);
  text-transform: uppercase;
}
