.frontmatter-detail[data-astro-cid-jdrsohrj] {
  margin: 10px;
  padding: 10px;
  width: 100%;
  font-family: inherit;
  text-align: left;
}
@media (min-width: 768px) {
  .frontmatter-detail[data-astro-cid-jdrsohrj] {
    text-align: center;
  }
}
.frontmatter-detail[data-astro-cid-jdrsohrj]
  .frontmatter-summary[data-astro-cid-jdrsohrj] {
  cursor: pointer;
  font-family: inherit;
  font-size: calc(var(--site-ui-font-size) * 0.5);
  width: fit-content;
  margin-inline: auto;
  text-align: center;
  margin-bottom: calc(var(--site-ui-font-size) * 0.5);
}
.frontmatter-detail[data-astro-cid-jdrsohrj]
  .frontmatter-summary[data-astro-cid-jdrsohrj]
  .text[data-astro-cid-jdrsohrj] {
  font-size: calc(var(--site-ui-font-size) * 1);
  cursor: pointer;
  color: red;
}
.frontmatter-detail[data-astro-cid-jdrsohrj]
  .frontmatter-content[data-astro-cid-jdrsohrj] {
  display: block;
  height: fit-content;
  overflow: hidden;
  margin-top: 10px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
}
html[data-theme='dark']
  .frontmatter-detail[data-astro-cid-jdrsohrj]
  .frontmatter-content[data-astro-cid-jdrsohrj] {
  border-color: #fff;
}
.frontmatter-title[data-astro-cid-jdrsohrj] {
  width: 100%;
  font-weight: 700;
  font-size: calc(var(--site-ui-font-size) * 0.5);
}
@media (min-width: 768px) {
  .frontmatter-title[data-astro-cid-jdrsohrj] {
    font-weight: 400;
    font-size: calc(var(--site-ui-font-size) * 0.5625);
  }
}
.frontmatter-value[data-astro-cid-jdrsohrj] {
  width: 90%;
  font-weight: 300;
  font-size: calc(var(--site-ui-font-size) * 0.625);
  margin-left: calc(var(--site-ui-font-size) * 0.5);
}
@media (min-width: 768px) {
  .frontmatter-value[data-astro-cid-jdrsohrj] {
    width: 100%;
    font-size: calc(var(--site-ui-font-size) * 0.75);
    margin-left: auto;
  }
}
details[data-astro-cid-jdrsohrj] {
  margin-bottom: calc(var(--site-ui-font-size) * 0.5);
}
details[data-astro-cid-jdrsohrj][open] summary[data-astro-cid-jdrsohrj]:before {
  transform: rotate(90deg);
}
details[data-astro-cid-jdrsohrj] summary[data-astro-cid-jdrsohrj] {
  cursor: pointer;
  list-style: none;
}
details[data-astro-cid-jdrsohrj] summary[data-astro-cid-jdrsohrj]::marker {
  content: '';
}
details[data-astro-cid-jdrsohrj]
  summary[data-astro-cid-jdrsohrj]::-webkit-details-marker {
  display: none;
}
details[data-astro-cid-jdrsohrj] summary[data-astro-cid-jdrsohrj]:before {
  content: '>';
  display: inline-block;
  margin-right: calc(var(--site-ui-font-size) * 0.25);
  transform: rotate(0);
  transition: transform 0.1s ease-in-out;
}
.embed-pdf[data-astro-cid-gwalplcv] {
  width: 90%;
  height: 70vh;
}
figure[data-astro-cid-ke3zp52o] {
  margin: calc(var(--site-ui-font-size) * 0.25);
}
@media (min-width: 768px) {
  figure[data-astro-cid-ke3zp52o] {
    margin: calc(var(--site-ui-font-size) * 0.5);
  }
}
figure[data-astro-cid-ke3zp52o].has-padding img[data-astro-cid-ke3zp52o] {
  padding: calc(var(--site-ui-font-size) * 0.25);
}
@media (min-width: 768px) {
  figure[data-astro-cid-ke3zp52o].has-padding img[data-astro-cid-ke3zp52o] {
    padding: calc(var(--site-ui-font-size) * 1);
  }
}
figure[data-astro-cid-ke3zp52o] img[data-astro-cid-ke3zp52o] {
  border-style: solid;
  border-width: 1px;
  border-color: #000;
}
html[data-theme='dark']
  figure[data-astro-cid-ke3zp52o]
  img[data-astro-cid-ke3zp52o] {
  border-color: #fff;
}
html[data-theme='dark']
  figure[data-astro-cid-ke3zp52o]
  img[data-astro-cid-ke3zp52o] {
  filter: saturate(0.8) brightness(0.8);
}
figure[data-astro-cid-ke3zp52o] img[data-astro-cid-ke3zp52o].inverted {
  filter: invert(0);
}
html[data-theme='dark']
  figure[data-astro-cid-ke3zp52o]
  img[data-astro-cid-ke3zp52o].inverted {
  filter: saturate(0.8) invert(1);
}
figure[data-astro-cid-ke3zp52o].width-75 {
  margin-inline: auto;
  width: 100%;
}
@media (min-width: 1024px) {
  figure[data-astro-cid-ke3zp52o].width-75 {
    width: 75%;
  }
}
figure[data-astro-cid-ke3zp52o].width-50 {
  margin-inline: auto;
  width: 100%;
}
@media (min-width: 1024px) {
  figure[data-astro-cid-ke3zp52o].width-50 {
    width: 50%;
  }
}
figure[data-astro-cid-ke3zp52o].width-33 {
  margin-inline: auto;
  width: 100%;
}
@media (min-width: 768px) {
  figure[data-astro-cid-ke3zp52o].width-33 {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  figure[data-astro-cid-ke3zp52o].width-33 {
    width: 33%;
  }
}
figure[data-astro-cid-ke3zp52o].width-25 {
  margin-inline: auto;
  width: 100%;
}
@media (min-width: 375px) {
  figure[data-astro-cid-ke3zp52o].width-25 {
    width: 50%;
  }
}
@media (min-width: 768px) {
  figure[data-astro-cid-ke3zp52o].width-25 {
    width: 33%;
  }
}
@media (min-width: 1024px) {
  figure[data-astro-cid-ke3zp52o].width-25 {
    width: 25%;
  }
}
figure[data-astro-cid-ke3zp52o] figcaption[data-astro-cid-ke3zp52o] {
  margin-top: calc(var(--site-ui-font-size) * 0.25);
  text-align: center;
}
.responsive-iframe[data-astro-cid-l6anr4oe] {
  position: relative;
  width: 95%;
  @media (min-width: 768px) {
    width: 80%;
  }
  overflow: hidden;
  margin: calc(var(--site-ui-font-size) * 0.25);
  @media (min-width: 768px) {
    margin: calc(var(--site-ui-font-size) * 0.5);
  }
  margin-bottom: calc(var(--site-ui-font-size) * 1);
  iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    border: solid 1px black;
    aspect-ratio: 16 / 9;
    margin-bottom: calc(var(--site-ui-font-size) * 0.5);
  }
  .video-caption {
    text-align: left;
    width: 100%;
    margin-top: calc(var(--site-ui-font-size) * 0.125);
  }
  .center {
    text-align: center;
  }
}
caption[data-astro-cid-3emi7drq] {
  text-align: left;
}
.table-wrapper[data-astro-cid-qgjdromd] {
  width: 95vw;
  margin: auto;
  overflow-x: auto;
  padding-inline: calc(var(--site-ui-font-size) * 0.25);
  @media (min-width: 768px) {
    padding-inline: calc(var(--site-ui-font-size) * 0.5);
  }
}
.local-video-wrapper[data-astro-cid-3s5itmsy] {
  display: flex;
  justify-content: center;
  margin-top: calc(var(--site-ui-font-size) * 0.25);
  width: 100%;
  @media (min-width: 768px) {
    width: 50%;
  }
  @media (min-width: 1024px) {
    width: 33%;
  }
  margin-inline: auto;
}
blockquote[data-astro-cid-tdaetpum] {
  p {
    font-size: calc(var(--site-ui-font-size) * 0.5);
  }
}
.recent-posts-wrapper[data-astro-cid-tz5sky4s] {
  margin-top: calc(var(--site-ui-font-size) * 2);
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #000;
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--site-ui-font-size) * 0.25);
}
html[data-theme='dark'] .recent-posts-wrapper[data-astro-cid-tz5sky4s] {
  border-top-color: #fff;
}
@media (min-width: 768px) {
  .recent-posts-wrapper[data-astro-cid-tz5sky4s] {
    row-gap: calc(var(--site-ui-font-size) * 2);
  }
}
.recent-posts-wrapper[data-astro-cid-tz5sky4s] {
  max-width: 95%;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .recent-posts-wrapper[data-astro-cid-tz5sky4s] {
    max-width: 80%;
  }
}
.subtitle[data-astro-cid-tz5sky4s] {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: calc(var(--site-ui-font-size) * 1);
  text-indent: 0;
  letter-spacing: 1;
  @media (min-width: 768px) {
    letter-spacing: calc(var(--site-ui-font-size) * 0.25);
  }
}
.frontmatter-wrapper {
  margin-inline: auto;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .frontmatter-wrapper {
    max-width: 80%;
  }
}
.img-wrapper {
  max-height: 50vh;
  display: flex;
  border: 1px solid black;
  overflow: hidden;
  align-items: center;
}
@media (min-width: 768px) {
  .img-wrapper {
    max-height: 33vh;
  }
}
html[data-theme='dark'] .img-wrapper {
  border-color: #fff;
}
html[data-theme='dark'] .img-wrapper img {
  filter: saturate(0.8) brightness(0.8);
}
.img-wrapper img.inverted {
  filter: invert(0);
}
html[data-theme='dark'] .img-wrapper img.inverted {
  filter: saturate(0.8) invert(1);
}
.img-credit-wrapper {
  margin-top: calc(var(--site-ui-font-size) * 0.25);
}
.collection-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.collection-wrapper p,
.collection-wrapper h1,
.collection-wrapper h2,
.collection-wrapper h3,
.collection-wrapper h4,
.collection-wrapper h5,
.collection-wrapper h6 {
  margin-inline: auto;
  width: 95%;
}
@media (min-width: 768px) {
  .collection-wrapper p,
  .collection-wrapper h1,
  .collection-wrapper h2,
  .collection-wrapper h3,
  .collection-wrapper h4,
  .collection-wrapper h5,
  .collection-wrapper h6 {
    max-width: 80%;
  }
}
.collection-wrapper p li ol,
.collection-wrapper p li ul,
.collection-wrapper h1 li ol,
.collection-wrapper h1 li ul,
.collection-wrapper h2 li ol,
.collection-wrapper h2 li ul,
.collection-wrapper h3 li ol,
.collection-wrapper h3 li ul,
.collection-wrapper h4 li ol,
.collection-wrapper h4 li ul,
.collection-wrapper h5 li ol,
.collection-wrapper h5 li ul,
.collection-wrapper h6 li ol,
.collection-wrapper h6 li ul {
  margin-inline: 0;
}
.collection-wrapper ol,
.collection-wrapper ul {
  margin-inline: auto;
  width: 90%;
}
@media (min-width: 768px) {
  .collection-wrapper ol,
  .collection-wrapper ul {
    max-width: 70%;
  }
}
.collection-wrapper ol li ol,
.collection-wrapper ol li ul,
.collection-wrapper ul li ol,
.collection-wrapper ul li ul {
  margin-inline: 0;
}
.collection-wrapper #contents + ul,
.collection-wrapper #contents + ol {
  margin-inline: auto;
  width: 95%;
  padding: 0;
  list-style-type: none;
  padding-left: calc(var(--site-ui-font-size) * 1);
  text-indent: calc(var(--site-ui-font-size) * -1);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #000;
  padding-bottom: calc(var(--site-ui-font-size) * 1.5);
}
@media (min-width: 768px) {
  .collection-wrapper #contents + ul,
  .collection-wrapper #contents + ol {
    max-width: 80%;
  }
}
@media (min-width: 768px) {
  .collection-wrapper #contents + ul,
  .collection-wrapper #contents + ol {
    padding-left: calc(var(--site-ui-font-size) * 2);
    text-indent: calc(var(--site-ui-font-size) * -2);
  }
}
@media (min-width: 768px) {
  .collection-wrapper #contents + ul,
  .collection-wrapper #contents + ol {
    padding-bottom: calc(var(--site-ui-font-size) * 4.5);
  }
}
.collection-wrapper #contents + ul a,
.collection-wrapper #contents + ol a {
  word-break: normal;
}
.collection-wrapper #contents + ul li ol,
.collection-wrapper #contents + ul li ul,
.collection-wrapper #contents + ol li ol,
.collection-wrapper #contents + ol li ul {
  padding: 0;
  list-style-type: none;
  padding-left: calc(var(--site-ui-font-size) * 1);
  text-indent: calc(var(--site-ui-font-size) * -1);
}
@media (min-width: 768px) {
  .collection-wrapper #contents + ul li ol,
  .collection-wrapper #contents + ul li ul,
  .collection-wrapper #contents + ol li ol,
  .collection-wrapper #contents + ol li ul {
    padding-left: calc(var(--site-ui-font-size) * 2);
    text-indent: calc(var(--site-ui-font-size) * -2);
  }
}
.collection-wrapper #contents + ul li ol a,
.collection-wrapper #contents + ul li ul a,
.collection-wrapper #contents + ol li ol a,
.collection-wrapper #contents + ol li ul a {
  word-break: normal;
}
.collection-wrapper #contents + ul a,
.collection-wrapper #contents + ol a {
  color: #000;
}
html[data-theme='dark'] .collection-wrapper #contents + ul a,
html[data-theme='dark'] .collection-wrapper #contents + ol a {
  color: #fff;
}
.collection-wrapper #contents + ul a:hover,
.collection-wrapper #contents + ol a:hover {
  color: #fff;
}
html[data-theme='dark'] .collection-wrapper #contents + ul a:hover,
html[data-theme='dark'] .collection-wrapper #contents + ol a:hover {
  color: #000;
}
.collection-wrapper p,
.collection-wrapper span.katex-display {
  font-size: calc(var(--site-ui-font-size) * 0.75);
}
@media (min-width: 768px) {
  .collection-wrapper p,
  .collection-wrapper span.katex-display {
    font-size: calc(var(--site-ui-font-size) * 1);
  }
}
.collection-wrapper ol,
.collection-wrapper ul {
  font-size: calc(var(--site-ui-font-size) * 0.625);
}
@media (min-width: 768px) {
  .collection-wrapper ol,
  .collection-wrapper ul {
    font-size: calc(var(--site-ui-font-size) * 0.75);
  }
}
.collection-wrapper ol p,
.collection-wrapper ul p {
  font-size: calc(var(--site-ui-font-size) * 0.5625);
}
@media (min-width: 768px) {
  .collection-wrapper ol p,
  .collection-wrapper ul p {
    font-size: calc(var(--site-ui-font-size) * 0.75);
  }
}
