.post-type-wrapper[data-astro-cid-oo5ia57v] {
  margin-top: calc(var(--site-ui-font-size) * 1);
}
.post-type-wrapper[data-astro-cid-oo5ia57v].index {
  display: grid;
  gap: calc(var(--site-ui-font-size) * 1.25);
  margin-bottom: calc(var(--site-ui-font-size) * 2);
  margin-inline: calc(var(--site-ui-font-size) * 0.25);
}
@media (min-width: 768px) {
  .post-type-wrapper[data-astro-cid-oo5ia57v].index {
    gap: calc(var(--site-ui-font-size) * 0.5);
  }
}
@media (min-width: 768px) {
  .post-type-wrapper[data-astro-cid-oo5ia57v].index {
    margin-inline: calc(var(--site-ui-font-size) * 1);
  }
}
.post-type-name[data-astro-cid-oo5ia57v] {
  margin-top: 0;
  display: inline-block;
  width: 100%;
  hyphens: auto;
  text-align: left;
  word-break: normal;
  font-size: calc(var(--site-ui-font-size) * 0.875);
}
@media (min-width: 500px) {
  .post-type-name[data-astro-cid-oo5ia57v] {
    font-size: calc(var(--site-ui-font-size) * 1.5);
  }
}
.collection-card-container[data-astro-cid-oo5ia57v] {
  display: flex;
  flex-direction: column;
  gap: calc(var(--site-ui-font-size) * 1);
  padding-inline: calc(var(--site-ui-font-size) * 0.25);
}
.collection-card-container[data-astro-cid-oo5ia57v].tag {
  margin-top: calc(var(--site-ui-font-size) * 2);
}
@media (min-width: 768px) {
  .collection-card-container[data-astro-cid-oo5ia57v].tag {
    margin-top: calc(var(--site-ui-font-size) * 4);
  }
}
.collection-card-container[data-astro-cid-oo5ia57v].index,
.collection-card-container[data-astro-cid-oo5ia57v].list {
  display: grid;
  gap: calc(var(--site-ui-font-size) * 2);
}
@media (min-width: 768px) {
  .collection-card-container[data-astro-cid-oo5ia57v].index,
  .collection-card-container[data-astro-cid-oo5ia57v].list {
    gap: calc(var(--site-ui-font-size) * 1);
  }
}
.collection-card-container[data-astro-cid-oo5ia57v].index {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 768px) {
  .collection-card-container[data-astro-cid-oo5ia57v].index {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .collection-card-container[data-astro-cid-oo5ia57v].index {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1440px) {
  .collection-card-container[data-astro-cid-oo5ia57v].index {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.collection-card-container[data-astro-cid-oo5ia57v].index.list {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 768px) {
  .collection-card-container[data-astro-cid-oo5ia57v] {
    gap: calc(var(--site-ui-font-size) * 0.5);
  }
}
@media (min-width: 768px) {
  .collection-card-container[data-astro-cid-oo5ia57v] {
    padding-inline: 0;
  }
}
.collection-card-wrapper[data-astro-cid-oo5ia57v] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: calc(var(--site-ui-font-size) * 0.25);
}
@media (min-width: 1024px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v] {
    gap: calc(var(--site-ui-font-size) * 1);
  }
}
.collection-card-wrapper[data-astro-cid-oo5ia57v].index {
  display: grid;
  gap: calc(var(--site-ui-font-size) * 0.25);
  align-items: start;
}
@media (min-width: 1024px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v].index {
    gap: calc(var(--site-ui-font-size) * 0.25);
  }
}
.collection-card-wrapper[data-astro-cid-oo5ia57v].index.list {
  justify-items: start;
}
.collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-head-wrapper[data-astro-cid-oo5ia57v] {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-head-wrapper[data-astro-cid-oo5ia57v].normal {
    width: 30%;
  }
}
@media (min-width: 768px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-head-wrapper[data-astro-cid-oo5ia57v].small {
    width: 15%;
  }
}
@media (min-width: 768px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-head-wrapper[data-astro-cid-oo5ia57v].index {
    width: 100%;
  }
}
.collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-date-wrapper[data-astro-cid-oo5ia57v] {
  width: 100%;
  flex: 1;
  text-transform: uppercase;
  text-align: center;
}
.collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-date-wrapper[data-astro-cid-oo5ia57v]:has(:not(.list))
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-date-wrapper[data-astro-cid-oo5ia57v] {
  padding-inline: calc(var(--site-ui-font-size) * 0.5);
}
@media (min-width: 768px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-date-wrapper[data-astro-cid-oo5ia57v]:has(:not(.list))
    .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-date-wrapper[data-astro-cid-oo5ia57v] {
    padding-inline: 0;
  }
}
.list[data-astro-cid-oo5ia57v]
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-date-wrapper[data-astro-cid-oo5ia57v] {
  padding-inline: 0;
}
@media (min-width: 768px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-date-wrapper[data-astro-cid-oo5ia57v] {
    text-align: right;
  }
}
.collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-date-wrapper[data-astro-cid-oo5ia57v].index {
  text-align: center;
}
.collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-date-wrapper[data-astro-cid-oo5ia57v].index.list {
  text-align: start;
}
.collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-date-wrapper[data-astro-cid-oo5ia57v].index
  .collection-date[data-astro-cid-oo5ia57v].index {
  font-size: calc(var(--site-ui-font-size) * 0.5);
}
@media (min-width: 768px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-date-wrapper[data-astro-cid-oo5ia57v].index
    .collection-date[data-astro-cid-oo5ia57v].index {
    font-size: calc(var(--site-ui-font-size) * 0.5);
  }
}
.collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-date-wrapper[data-astro-cid-oo5ia57v].normal
  .collection-date[data-astro-cid-oo5ia57v] {
  font-size: calc(var(--site-ui-font-size) * 0.5);
}
@media (min-width: 768px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-date-wrapper[data-astro-cid-oo5ia57v].normal
    .collection-date[data-astro-cid-oo5ia57v] {
    font-size: calc(var(--site-ui-font-size) * 0.625);
  }
}
.collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-date-wrapper[data-astro-cid-oo5ia57v].small
  .collection-date[data-astro-cid-oo5ia57v] {
  font-size: calc(var(--site-ui-font-size) * 0.5);
  white-space: wrap;
  float: none;
}
@media (min-width: 1024px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-date-wrapper[data-astro-cid-oo5ia57v].small
    .collection-date[data-astro-cid-oo5ia57v] {
    font-size: calc(var(--site-ui-font-size) * 0.5625);
  }
}
@media (min-width: 768px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-date-wrapper[data-astro-cid-oo5ia57v].small
    .collection-date[data-astro-cid-oo5ia57v] {
    white-space: nowrap;
  }
}
@media (min-width: 768px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-date-wrapper[data-astro-cid-oo5ia57v].small
    .collection-date[data-astro-cid-oo5ia57v] {
    float: right;
  }
}
.collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-date-wrapper[data-astro-cid-oo5ia57v].normal
  .collection-date[data-astro-cid-oo5ia57v],
.collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-date-wrapper[data-astro-cid-oo5ia57v]
  .small[data-astro-cid-oo5ia57v]
  .collection-date[data-astro-cid-oo5ia57v] {
  margin: 0;
  text-align: center;
  font-weight: 400;
}
@media (min-width: 768px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-date-wrapper[data-astro-cid-oo5ia57v].normal
    .collection-date[data-astro-cid-oo5ia57v],
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-date-wrapper[data-astro-cid-oo5ia57v]
    .small[data-astro-cid-oo5ia57v]
    .collection-date[data-astro-cid-oo5ia57v] {
    text-align: end;
  }
}
@media (min-width: 768px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-date-wrapper[data-astro-cid-oo5ia57v].normal
    .collection-date[data-astro-cid-oo5ia57v],
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-date-wrapper[data-astro-cid-oo5ia57v]
    .small[data-astro-cid-oo5ia57v]
    .collection-date[data-astro-cid-oo5ia57v] {
    font-weight: 300;
  }
}
.collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-img-wrapper[data-astro-cid-oo5ia57v] {
  overflow: hidden;
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  width: 100%;
  height: fit-content;
  max-height: 25vh;
}
html[data-theme='dark']
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-img-wrapper[data-astro-cid-oo5ia57v] {
  border-color: #fff;
}
html[data-theme='dark']
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-img-wrapper[data-astro-cid-oo5ia57v]
  img[data-astro-cid-oo5ia57v] {
  filter: saturate(0.8) brightness(0.8);
}
.collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-img-wrapper[data-astro-cid-oo5ia57v]
  img[data-astro-cid-oo5ia57v].inverted {
  filter: invert(0);
}
html[data-theme='dark']
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-img-wrapper[data-astro-cid-oo5ia57v]
  img[data-astro-cid-oo5ia57v].inverted {
  filter: saturate(0.8) invert(1);
}
@media (min-width: 768px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-img-wrapper[data-astro-cid-oo5ia57v] {
    max-height: 30vh;
  }
}
.collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-img-wrapper[data-astro-cid-oo5ia57v].index {
  min-height: 0;
  height: fit-content;
  max-height: 33vh;
}
@media (min-width: 768px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-img-wrapper[data-astro-cid-oo5ia57v].index {
    min-height: 33vh;
  }
}
@media (min-width: 1440px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-img-wrapper[data-astro-cid-oo5ia57v].index {
    min-height: 25vh;
  }
}
@media (min-width: 768px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-img-wrapper[data-astro-cid-oo5ia57v].index {
    max-height: fit-content;
  }
}
@media (min-width: 1440px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-img-wrapper[data-astro-cid-oo5ia57v].index {
    max-height: fit-content;
  }
}
.collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-data-wrapper[data-astro-cid-oo5ia57v] {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: calc(var(--site-ui-font-size) * 0.0625);
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-data-wrapper[data-astro-cid-oo5ia57v] {
    gap: calc(var(--site-ui-font-size) * 0.25);
  }
}
.collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-data-wrapper[data-astro-cid-oo5ia57v].index {
  justify-content: flex-start;
}
.collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-data-wrapper[data-astro-cid-oo5ia57v].index.list {
  align-items: flex-start;
}
.collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-data-wrapper[data-astro-cid-oo5ia57v]
  h2[data-astro-cid-oo5ia57v] {
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-data-wrapper[data-astro-cid-oo5ia57v]
    h2[data-astro-cid-oo5ia57v] {
    text-align: start;
  }
}
.collection-card-wrapper[data-astro-cid-oo5ia57v]
  .collection-data-wrapper[data-astro-cid-oo5ia57v]
  h2[data-astro-cid-oo5ia57v]
  a[data-astro-cid-oo5ia57v] {
  font-size: calc(var(--site-ui-font-size) * 1);
  text-decoration: none;
  text-transform: none;
  word-break: normal;
}
@media (min-width: 768px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .collection-data-wrapper[data-astro-cid-oo5ia57v]
    h2[data-astro-cid-oo5ia57v]
    a[data-astro-cid-oo5ia57v] {
    font-size: calc(var(--site-ui-font-size) * 1.5);
  }
}
@media (max-width: 768px) {
  .collection-card-wrapper[data-astro-cid-oo5ia57v]
    .post[data-astro-cid-oo5ia57v] {
    flex-direction: column;
  }
}
