div[data-astro-cid-kh7btl4r] {
  display: block;
  margin: auto;
  text-wrap: pretty;
  max-width: 100ch;
}
.about-text[data-astro-cid-kh7btl4r] {
  font-size: calc(var(--site-ui-font-size) * 0.5);
  @media (min-width: 768px) {
    font-size: calc(var(--site-ui-font-size) * 1);
  }
  padding-inline: calc(var(--site-ui-font-size) * 1z);
  width: 100%;
  text-align: left;
}
.about-text[data-astro-cid-kh7btl4r]:first-child {
  margin-top: 0;
}
.about-text[data-astro-cid-kh7btl4r]:last-child {
  margin-bottom: 0;
}
