p[data-astro-cid-ee6qhyem] {
  font-size: calc(var(--site-ui-font-size) * 1);
  padding-inline: 2rem;
  text-align: center;
  text-indent: 1rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
}
