.group-tag-head[data-astro-cid-jvrvozre] {
  font-size: calc(var(--arnott-ui-font-size) * 1.125);
  margin-bottom: calc(var(--arnott-ui-font-size) * 1);
  font-weight: 200;
}
.group-tag-separator[data-astro-cid-jvrvozre] {
  margin-top: calc(var(--arnott-ui-font-size) * 4);
  margin-bottom: calc(var(--arnott-ui-font-size) * 2);
}
.initial[data-astro-cid-jvrvozre]:first-of-type {
  margin-top: calc(var(--arnott-ui-font-size) * 1);
}
.counts[data-astro-cid-jvrvozre] {
  font-size: calc(var(--arnott-ui-font-size) * 0.5);
  margin-left: calc(var(--arnott-ui-font-size) * 0.125);
}
