:root {
  --arnott-ui-font-size: 2rem;
}
.resume-wrapper[data-astro-cid-ruvg6z4q] {
  margin-inline: auto;
  margin-block: 8rem;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .resume-wrapper[data-astro-cid-ruvg6z4q] {
    max-width: 60%;
  }
}
.category-wrapper[data-astro-cid-ruvg6z4q] {
  width: 90%;
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  .category-wrapper[data-astro-cid-ruvg6z4q] {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .category-wrapper[data-astro-cid-ruvg6z4q] {
    font-size: 1.5rem;
  }
}
.category-wrapper[data-astro-cid-ruvg6z4q]
  :not(:first-child(.category))[data-astro-cid-ruvg6z4q] {
  margin-bottom: 2rem;
}
.category-wrapper[data-astro-cid-ruvg6z4q] .category[data-astro-cid-ruvg6z4q] {
  margin-bottom: 1rem;
}
.category-wrapper[data-astro-cid-ruvg6z4q]
  .category[data-astro-cid-ruvg6z4q].personal
  > .name[data-astro-cid-ruvg6z4q] {
  font-weight: 700;
  font-size: 2.5rem;
  text-indent: 0;
  letter-spacing: 1;
}
@media (min-width: 768px) {
  .category-wrapper[data-astro-cid-ruvg6z4q]
    .category[data-astro-cid-ruvg6z4q].personal
    > .name[data-astro-cid-ruvg6z4q] {
    letter-spacing: 0.5rem;
  }
}
.category-wrapper[data-astro-cid-ruvg6z4q]
  .category[data-astro-cid-ruvg6z4q].personal
  > .child[data-astro-cid-ruvg6z4q] {
  margin-left: 0;
  margin-bottom: 1rem;
}
.category-wrapper[data-astro-cid-ruvg6z4q]
  .category[data-astro-cid-ruvg6z4q].title {
  font-weight: 300;
  font-size: 2rem;
}
.category-wrapper[data-astro-cid-ruvg6z4q]
  .category[data-astro-cid-ruvg6z4q].personal
  > .name[data-astro-cid-ruvg6z4q],
.category-wrapper[data-astro-cid-ruvg6z4q]
  .category[data-astro-cid-ruvg6z4q].title {
  text-transform: uppercase;
}
.category-wrapper[data-astro-cid-ruvg6z4q]
  .category[data-astro-cid-ruvg6z4q]
  .head[data-astro-cid-ruvg6z4q] {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-left: 0;
}
@media (min-width: 768px) {
  .category-wrapper[data-astro-cid-ruvg6z4q]
    .category[data-astro-cid-ruvg6z4q]
    .head[data-astro-cid-ruvg6z4q] {
    font-size: 1.75rem;
  }
}
.category-wrapper[data-astro-cid-ruvg6z4q]
  .category[data-astro-cid-ruvg6z4q]
  .sub-head[data-astro-cid-ruvg6z4q] {
  margin-bottom: 1rem;
}
.category-wrapper[data-astro-cid-ruvg6z4q]
  .category[data-astro-cid-ruvg6z4q]
  .child[data-astro-cid-ruvg6z4q] {
  margin-left: 0;
  margin-bottom: 1rem;
}
@media (min-width: 425px) {
  .category-wrapper[data-astro-cid-ruvg6z4q]
    .category[data-astro-cid-ruvg6z4q]
    .child[data-astro-cid-ruvg6z4q] {
    margin-left: 4rem;
  }
}
.category-wrapper[data-astro-cid-ruvg6z4q]
  .category[data-astro-cid-ruvg6z4q]
  .sub-child[data-astro-cid-ruvg6z4q] {
  margin-left: 0;
  margin-left: 0.5rem;
}
@media (min-width: 425px) {
  .category-wrapper[data-astro-cid-ruvg6z4q]
    .category[data-astro-cid-ruvg6z4q]
    .sub-child[data-astro-cid-ruvg6z4q] {
    margin-left: 4rem;
  }
}
@media (min-width: 425px) {
  .category-wrapper[data-astro-cid-ruvg6z4q]
    .category[data-astro-cid-ruvg6z4q]
    .sub-child[data-astro-cid-ruvg6z4q] {
    margin-bottom: 1rem;
  }
}
.category-wrapper[data-astro-cid-ruvg6z4q]
  .category[data-astro-cid-ruvg6z4q]
  .bold[data-astro-cid-ruvg6z4q] {
  font-weight: 700;
}
.category-wrapper[data-astro-cid-ruvg6z4q]
  .category[data-astro-cid-ruvg6z4q]
  .italic[data-astro-cid-ruvg6z4q] {
  font-style: italic;
}
.category-wrapper[data-astro-cid-ruvg6z4q]
  .category[data-astro-cid-ruvg6z4q]
  .small[data-astro-cid-ruvg6z4q] {
  font-size: 90%;
}
.category-wrapper[data-astro-cid-ruvg6z4q]
  .category[data-astro-cid-ruvg6z4q]
  .child[data-astro-cid-ruvg6z4q].thesis {
  font-style: italic;
  font-size: 90%;
  margin-left: 0;
}
.category-wrapper[data-astro-cid-ruvg6z4q]
  .category[data-astro-cid-ruvg6z4q]
  .child[data-astro-cid-ruvg6z4q].publication {
  text-indent: 0;
  margin-left: 0;
}
@media (min-width: 425px) {
  .category-wrapper[data-astro-cid-ruvg6z4q]
    .category[data-astro-cid-ruvg6z4q]
    .child[data-astro-cid-ruvg6z4q].publication {
    text-indent: -4rem;
  }
}
@media (min-width: 425px) {
  .category-wrapper[data-astro-cid-ruvg6z4q]
    .category[data-astro-cid-ruvg6z4q]
    .child[data-astro-cid-ruvg6z4q].publication {
    margin-left: 4rem;
  }
}
.category-wrapper[data-astro-cid-ruvg6z4q]
  .category[data-astro-cid-ruvg6z4q]
  .child[data-astro-cid-ruvg6z4q].flex-sub-child {
  margin-left: 0;
}
.category-wrapper[data-astro-cid-ruvg6z4q]
  .category[data-astro-cid-ruvg6z4q]
  .child[data-astro-cid-ruvg6z4q].flex-sub-child
  .sub-child[data-astro-cid-ruvg6z4q] {
  display: flex;
  column-gap: 0.5rem;
  flex-wrap: wrap;
}
.category-wrapper[data-astro-cid-ruvg6z4q]
  .category[data-astro-cid-ruvg6z4q]
  .child[data-astro-cid-ruvg6z4q].flex-sub-child
  span[data-astro-cid-ruvg6z4q] {
  text-wrap: wrap;
}
@media (min-width: 375px) {
  .category-wrapper[data-astro-cid-ruvg6z4q]
    .category[data-astro-cid-ruvg6z4q]
    .child[data-astro-cid-ruvg6z4q].flex-sub-child
    span[data-astro-cid-ruvg6z4q] {
    text-wrap: nowrap;
  }
}
.category-wrapper[data-astro-cid-ruvg6z4q]
  .category[data-astro-cid-ruvg6z4q]
  .child[data-astro-cid-ruvg6z4q].flex-sub-child
  span[data-astro-cid-ruvg6z4q]:after {
  content: ',';
}
.category-wrapper[data-astro-cid-ruvg6z4q]
  .category[data-astro-cid-ruvg6z4q]
  .child[data-astro-cid-ruvg6z4q].flex-sub-child
  span[data-astro-cid-ruvg6z4q]:last-child:after,
.category-wrapper[data-astro-cid-ruvg6z4q]
  .category[data-astro-cid-ruvg6z4q]
  .child[data-astro-cid-ruvg6z4q].flex-sub-child
  span[data-astro-cid-ruvg6z4q]:first-child:after {
  content: '';
}
.category-wrapper[data-astro-cid-ruvg6z4q] .bold[data-astro-cid-ruvg6z4q] {
  font-weight: bolder;
}
.category-wrapper[data-astro-cid-ruvg6z4q] .italic[data-astro-cid-ruvg6z4q] {
  font-style: italic;
}
