:root {
  --pagefind-ui-scale: 1;
  --pagefind-ui-primary: black;
  --pagefind-ui-text: black;
  --pagefind-ui-background: transparent;
  --pagefind-ui-border: black;
  --pagefind-ui-tag: lime;
  --pagefind-ui-border-width: 0px;
  --pagefind-ui-border-radius: 0px;
  --pagefind-ui-image-border-radius: 0px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: 'Albert Sans', 'Archivo', 'Inter', sans-serif;
}
html[data-theme='dark'] {
  --pagefind-ui-primary: white;
  --pagefind-ui-text: white;
  --pagefind-ui-background: black;
  --pagefind-ui-border: white;
  --pagefind-ui-tag: #lime;
}
mark {
  background-color: #87cefa;
}
#searchContainer {
  width: 95%;
  margin-inline: auto;
  align-self: normal;
  margin-top: 12.5vh;
  margin-bottom: 25vh;
}
@media (min-width: 768px) {
  #searchContainer {
    width: 80%;
  }
}
#searchContainer input {
  font-weight: 400;
  font-family: inherit;
}
#searchContainer button {
  text-transform: uppercase;
  font-family: inherit;
}
#searchContainer p {
  font-weight: 400;
}
#searchContainer a,
#searchContainer a:hover {
  text-decoration: none;
}
#searchContainer .pagefind-ui__button {
  font-family: inherit;
  font-weight: 400;
  text-indent: 0;
  letter-spacing: 0;
  border-width: 1px;
  border-style: solid;
  --pagefind-ui-border: black;
  --pagefind-ui-primary: black;
}
@media (min-width: 768px) {
  #searchContainer .pagefind-ui__button {
    letter-spacing: calc(var(--site-ui-font-size) * 0.5);
  }
}
html[data-theme='dark'] #searchContainer .pagefind-ui__button {
  --pagefind-ui-border: white;
}
#searchContainer .pagefind-ui__button:hover,
html[data-theme='dark'] #searchContainer .pagefind-ui__button:hover {
  --pagefind-ui-border: transparent;
}
html[data-theme='dark'] #searchContainer .pagefind-ui__button,
#searchContainer .pagefind-ui__button:hover {
  --pagefind-ui-primary: white;
}
html[data-theme='dark'] #searchContainer .pagefind-ui__button:hover {
  --pagefind-ui-primary: black;
}
#searchContainer .pagefind-ui__button:hover {
  --pagefind-ui-background: black;
}
html[data-theme='dark'] #searchContainer .pagefind-ui__button:hover {
  --pagefind-ui-background: white;
}
#searchContainer .pagefind-ui__search-clear:hover,
html[data-theme='dark'] #searchContainer .pagefind-ui__search-clear:hover {
  --pagefind-ui-text: grey;
}
#searchContainer .pagefind-ui__result-link {
  --pagefind-ui-text: black;
}
html[data-theme='dark'] #searchContainer .pagefind-ui__result-link {
  --pagefind-ui-text: white;
}
#searchContainer .pagefind-ui__result-link:hover {
  --pagefind-ui-text: white;
  background-color: #000;
}
html[data-theme='dark'] #searchContainer .pagefind-ui__result-link:hover {
  --pagefind-ui-text: black;
  background-color: #fff;
}
#searchContainer .pagefind-ui__search-clear {
  border-width: 0;
}
#searchContainer .pagefind-ui__search-input {
  color: #000;
  border-color: gray;
}
html[data-theme='dark'] #searchContainer .pagefind-ui__search-input {
  color: #fff;
  border-color: gray;
}
#searchContainer .pagefind-ui__search-input::placeholder {
  color: #000;
  opacity: 0.5;
}
html[data-theme='dark']
  #searchContainer
  .pagefind-ui__search-input::placeholder {
  color: #fff;
  opacity: 0.5;
}
#searchContainer .pagefind-ui__drawer {
  text-transform: initial;
}
